In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
with open('Transacoes.txt', "r") as f:
  transactions = [line.strip().split(",") for line in f.readlines()]

transactions

[['PAINEL', 'BANCOS', 'BOLSA DA PORTA', 'ESTRIBO'],
 ['BANCOS', 'ALARME', 'BOLSA DA PORTA'],
 ['PAINEL', 'ALARME', 'ESTRIBO'],
 ['BANCOS', 'PAINEL', 'ESTRIBO'],
 ['BOLSA DA PORTA', 'PAINEL', 'ALARME'],
 ['PAINEL', 'ALARME', 'ESTRIBO', 'BANCOS'],
 ['BANCOS', 'BOLSA DA PORTA', 'ESTRIBO'],
 ['PAINEL', 'BANCOS', 'ALARME', 'ESTRIBO'],
 ['BOLSA DA PORTA', 'ALARME', 'ESTRIBO'],
 ['PAINEL', 'ALARME', 'BANCOS'],
 ['BANCOS', 'BOLSA DA PORTA', 'PAINEL'],
 ['PAINEL', 'ESTRIBO', 'BANCOS'],
 ['BANCOS', 'ALARME', 'BOLSA DA PORTA', 'ESTRIBO'],
 ['PAINEL', 'ALARME', 'BANCOS', 'ESTRIBO'],
 ['BOLSA DA PORTA', 'PAINEL', 'ALARME', 'ESTRIBO'],
 ['ALARME', 'ESTRIBO', 'BANCOS'],
 ['BANCOS', 'BOLSA DA PORTA', 'ALARME'],
 ['PAINEL', 'BANCOS', 'ESTRIBO'],
 ['BOLSA DA PORTA', 'ALARME', 'PAINEL'],
 ['PAINEL', 'ALARME', 'BANCOS', 'ESTRIBO']]

In [3]:
# criando um array
te = TransactionEncoder()
te_array = te.fit(transactions).transform(transactions)

# criando o dataset com o array
df = pd.DataFrame(te_array, columns=te.columns_)
df

    ALARME  BANCOS  BOLSA DA PORTA  ESTRIBO  PAINEL
0    False    True            True     True    True
1     True    True            True    False   False
2     True   False           False     True    True
3    False    True           False     True    True
4     True   False            True    False    True
5     True    True           False     True    True
6    False    True            True     True   False
7     True    True           False     True    True
8     True   False            True     True   False
9     True    True           False    False    True
10   False    True            True    False    True
11   False    True           False     True    True
12    True    True            True     True   False
13    True    True           False     True    True
14    True   False            True     True    True
15    True    True           False     True   False
16    True    True            True    False   False
17   False    True           False     True    True
18    True   False            True    False    True
19    True    True           False     True    True

In [4]:
# calculando freqência dos itens
frequent_itemsets = apriori(df, min_support=0.5, use_colnames=True)
frequent_itemsets

   support           itemsets
0     0.70           (ALARME)
1     0.75           (BANCOS)
2     0.50   (BOLSA DA PORTA)
3     0.70          (ESTRIBO)
4     0.70           (PAINEL)
5     0.55  (ESTRIBO, BANCOS)
6     0.50   (PAINEL, BANCOS)
7     0.50  (ESTRIBO, PAINEL)

In [5]:
# criando regras de associação

pd.set_option("display.max_columns", None)

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
print(rules)

  antecedents consequents  antecedent support  consequent support  support  \
0   (ESTRIBO)    (BANCOS)                0.70                0.75     0.55
1    (BANCOS)   (ESTRIBO)                0.75                0.70     0.55
2    (PAINEL)    (BANCOS)                0.70                0.75     0.50
3    (BANCOS)    (PAINEL)                0.75                0.70     0.50
4   (ESTRIBO)    (PAINEL)                0.70                0.70     0.50
5    (PAINEL)   (ESTRIBO)                0.70                0.70     0.50

   confidence      lift  representativity  leverage  conviction  \
0    0.785714  1.047619               1.0     0.025    1.166667
1    0.733333  1.047619               1.0     0.025    1.125000
2    0.714286  0.952381               1.0    -0.025    0.875000
3    0.666667  0.952381               1.0    -0.025    0.900000
4    0.714286  1.020408               1.0     0.010    1.050000
5    0.714286  1.020408               1.0     0.010    1.050000

   zhangs_metric   jaccard  certainty  kulczynski
0       0.151515  0.611111   0.142857    0.759524
1       0.181818  0.611111   0.111111    0.759524
2      -0.142857  0.526316  -0.142857    0.690476
3      -0.166667  0.526316  -0.111111    0.690476
4       0.066667  0.555556   0.047619    0.714286
5       0.066667  0.555556   0.047619    0.714286